<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coding404.myweb.product.service.ProductMapper">

    <insert id="productRegist" parameterType="ProductVO">
        INSERT INTO PRODUCT(PROD_ENDDATE,
                            PROD_WRITER,
                            PROD_NAME,
                            PROD_PRICE,
                            PROD_COUNT,
                            PROD_DISCOUNT,
                            PROD_PURCHASE_YN,
                            PROD_CONTENT,
                            PROD_COMMENT)
        VALUES (#{prodEnddate},
                #{prodWriter},
                #{prodName},
                #{prodPrice},
                #{prodCount},
                #{prodDiscount},
                #{prodPurchaseYn},
                #{prodContent},
                #{prodComment})
    </insert>

    <!--
     동적쿼리구문
     if, choose, foreach
     test에는 getter명이 들어감
     -->
    <select id="getList" resultType="ProductVO">-- 결과 타입은 ProductVO로 받음
        SELECT *
        FROM PRODUCT
        WHERE PROD_WRITER = #{prodWriter}
        <if test="cri.searchName != '' and cri.searchName != null">
            AND PROD_NAME LIKE CONCAT('%',#{cri.searchName},'%')
        </if>
        <if test="cri.searchContent != '' and cri.searchContent != null">
            AND PROD_NAME LIKE CONCAT('%',#{cri.searchContent},'%')
        </if>
        <if test="cri.startDate != '' and cri.startDate != null">
            <![CDATA[
            AND STR_TO_DATE(prod_enddate, '%Y-%m-%d') >= STR_TO_DATE('#{cri.startDate}','%Y-%m-%d')
            ]]>
        </if>
        <if test="cri.endDate != '' and cri.endDate != null">
            <![CDATA[
            AND STR_TO_DATE(prod_enddate, '%Y-%m-%d') <= STR_TO_DATE('#{cri.endDate}','%Y-%m-%d')
            ]]>
        </if>
        ORDER BY
        <if test="cri.searchPrice == 'asc'">
            PROD_PRICE,
        </if>
        <if test="cri.searchPrice == 'desc'">
            PROD_PRICE DESC,
        </if>
        PROD_ID DESC
        LIMIT #{cri.pageStart}, #{cri.amount}
    </select>

    <select id="getTotal" resultType="int">
        select count(*) as total
        from PRODUCT
        where prod_writer = #{prodWriter}
        <if test="cri.searchName != '' and cri.searchName != null">
            and prod_name like concat('%', #{cri.searchName}, '%')
        </if>

        <if test="cri.searchContent != '' and cri.searchContent != null">
            and prod_content like concat('%', #{cri.searchContent}, '%')
        </if>

        <if test="cri.startDate != '' and cri.startDate != null">
            <![CDATA[
                and str_to_date(prod_enddate, '%Y-%m-%d') >=  str_to_date(#{cri.startDate}, '%Y-%m-%d')
            ]]>
        </if>

        <if test="cri.endDate != '' and cri.endDate != null">
            <![CDATA[
            and str_to_date(prod_enddate, '%Y-%m-%d') <= str_to_date(#{cri.endDate}, '%Y-%m-%d')
            ]]>
        </if>
    </select>

    <select id="getDetail" resultType="ProductVO">
        SELECT *
        FROM PRODUCT
        WHERE PROD_ID = #{prodId}
    </select>

    <update id="productUpdate" parameterType="ProductVO">
        UPDATE PRODUCT
        SET PROD_ENDDATE     = #{prodEnddate},
            PROD_NAME        = #{prodName},
            PROD_PRICE       = #{prodPrice},
            PROD_COUNT       = #{prodCount},
            PROD_DISCOUNT    = #{prodDiscount},
            PROD_PURCHASE_YN = #{prodPurchaseYn},
            PROD_CONTENT     = #{prodContent},
            PROD_COMMENT     = #{prodComment}
        WHERE PROD_ID = #{prodId}
    </update>

    <delete id="productDelete">
        DELETE
        FROM PRODUCT
        WHERE PROD_ID = #{prodId}
    </delete>
</mapper>